<mat-toolbar>
  <span class="nav-text">myFlix</span>
  <span class="spacer"></span>
  <span class="spacer"></span>
  <button
    mat-button
    class="nav-text"
    [class.active]="isOnMovies()"
    (click)="navigateToMoviesPage()"
  >
    Movies
  </button>
  <button
    mat-button
    class="nav-text"
    [class.active]="isOnProfile()"
    (click)="navigateToProfilePage()"
  >
    My Profile
  </button>

  <button mat-button class="nav-text" (click)="navigateToWelcomePage()">
    Logout
  </button>
</mat-toolbar>
