<app-navbar></app-navbar>

<div class="movies-grid">
  <mat-card
    class="movie-container"
    *ngFor="let movie of movies"
    style="flex: 1 1 auto"
  >
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle>{{ movie.Year }}</mat-card-subtitle>
    </mat-card-header>
    <img class="movie-image" src="{{ movie.imgURL }}" alt="{{ movie.Title }}" />
    <mat-card-actions>
      <button mat-button (click)="openGenreDialog(movie.Genre)" color="primary">
        Genre
      </button>
      <button
        mat-button
        (click)="openDirectorDialog(movie.Director)"
        color="primary"
      >
        Director
      </button>
      <button
        mat-button
        (click)="openDescriptionDialog(movie.Description)"
        color="primary"
      >
        Description
      </button>
      <mat-icon
        *ngIf="!isFavorite(movie)"
        (click)="addToFavorites(movie); openAddFavMovieDialog(movie)"
        >favorite_border</mat-icon
      >
      <mat-icon
        *ngIf="isFavorite(movie)"
        (click)="removeFromFavorites(movie); openRemoveFavMovieDialog(movie)"
        >favorite</mat-icon
      >
    </mat-card-actions>
  </mat-card>
</div>

<!-- <app-profile
  [favoriteMovies]="favoriteMovies"
  (favoriteChanged)="onFavoriteChanged()"
></app-profile> -->
