.mat-dialog-content {
  max-height: 99vh;
  overflow-y: auto;
}
.form-element {
  margin: 10px;
}
.movies-container {
  display: flex;
  flex-direction: column;
}

.movie-card {
  margin-bottom: 15px;
}

.movie-image {
  height: 400px;
  width: 300px;

  object-fit: cover;
  margin: 0 20px;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: #646569;
  color: white;
}
.movies-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1000px) {
  .movies-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .movie-image {
    height: 300px;
    width: 200px;
  }
}

@media (max-width: 800px) {
  .movies-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .movie-image {
    height: 300px;
    width: 200px;
  }
}

@media (max-width: 600px) {
  .movies-grid {
    grid-template-columns: 1fr;
  }
  .movie-image {
    height: 300px;
    width: 200px;
  }
}
